@import "tailwindcss";

@font-face {
  font-family: Tanha;
  src: url("./assets/fonts/Tanha.eot");
  src: url("./assets/fonts/Tanha.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Tanha.woff") format("woff"),
    url("./assets/fonts/Tanha.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: "Tanha";
}

.bgImage{
    background-image: url("./assets/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.spin{
  animation: spin 30s linear infinite;
}